// .login {
//     display: flex;
//     width: 100vw;
//     height: 100vh;

//     .gambar {
//         background-image: url("../../../assets/login.png");
//         background-color: rgba(0, 60, 255, 0.541);
//         height: 100vh;
//         width: 60vw;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//         z-index: -1;
//     }

//     .form {
//         background-color: #fff;
//         width: 37vw;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         padding: 20px;
//         border-radius: 10px;

//         label {
//             font-size: 20px;
//             font-weight: bold;
//             color: #000;
//         }

//         input {
//             width: calc(100% - 20px);
//             height: 40px;
//             font-size: 18px;
//             border-radius: 5px;
//             border: 1px solid #000;
//             padding: 10px;
//             margin-bottom: 10px;
//         }

//         button {
//             width: 100%;
//             height: 40px;
//             border-radius: 5px;
//             border: 1px solid #000;
//             background-color: #000;
//             color: #fff;
//             font-weight: bold;
//             font-size: 20px;
//             cursor: pointer;
//         }
//     }
// }