.dashboard {
    display: flex;

    .dashboard-container {
        flex: 6;

        .dashboard-main {
            margin: 1rem;


            p,
            h3 {
                margin-bottom: 0.5rem;
            }
        }
    }
}